@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  /* background: rgba(0, 0, 0, 0.5) url("./assets/bg.jpg"); */
  /* background-size: cover; */
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 80px auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: #f05a5b;
  font-size: 60px;
}

.content {
  width: 80%;
  opacity: 0.9;
  background: #fff;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content button.submit-btn {
  border: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.content button.submit-btn:hover {
  background: #e14f50;
  opacity: 1;
}

.content button.secondary-btn {
  border: 0;
  border: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #337ab7;
  color: #fff;
  cursor: pointer;
}

.content button.secondary-btn:hover {
  background: #286090;
  opacity: 1;
}

.content div.input-group {
  display: flex;
  flex-direction: column;
}

.content div.input-group input {
  margin-bottom: 1rem;
}
